---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"div">

const attrs = Astro.props,
  className = attrs.class || "",
  displayFlex = "flex"

let printStyle = "print:block"

if (className.includes(displayFlex)) {
  printStyle = "print:flex"
}
---

<div class="hidden" class:list={[className, printStyle]} {...attrs}>
  <slot />
</div>
