---
import Text from "@/components/text/Text.astro"
import type { ComponentProps } from "astro/types"

type Props = ComponentProps<typeof Text>

const { variant } = Astro.props
---

<p><Text variant={variant}><slot /></Text></p>
