---
export enum TextVariant {
  Primary = "primary",
  Secondary = "secondary",
  Tertiary = "tertiary",
}

interface Props {
  variant: TextVariant
}

const styles = {
  [TextVariant.Primary]: ["text-md"],
  [TextVariant.Secondary]: ["text-sm", "text-slate-600"],
  [TextVariant.Tertiary]: ["text-sm", "text-slate-500"],
}

const { variant } = Astro.props
---

<span class:list={styles[variant]}>
  <slot />
</span>
