---
import Section from "@/core/ui/Section.astro"
import { Paragraph, TextVariant } from "@/core/ui/text"
import type { ProfileAboutProps } from "../types/profileTypes"

const { summary } = Astro.props as ProfileAboutProps
---

<Section title="Perfil">
  {
    summary.map((paragraph) => (
      <Paragraph variant={TextVariant.Secondary}>{paragraph}</Paragraph>
    ))
  }
</Section>
