---
import Section from "@/core/ui/Section.astro"
import { Paragraph, TextVariant } from "@/core/ui/text"
---

<Section title="Perfil">
  <Paragraph variant={TextVariant.Secondary}>
    Graduado como Técnico en Programación, decidí especializarme en el
    desarrollo Backend porque el diseño no era mi fuerte. He trabajado con
    modelados muy complejos tanto en SQL como NoSQL, múltiples integraciones
    (Gateways de pago, CRM, Analytics) y soy amante del Clean Code.
  </Paragraph>
  <Paragraph variant={TextVariant.Secondary}>
    Actualmente, me desempeño como Líder Técnico, perfeccionando mi rol, mientas
    trabajo para mejorar mis puntos débiles (entre ellos el Frontend).
  </Paragraph>
</Section> 
