---
import Dot from "@/components/icons/Dot.astro"
import ExperienceHeader from "@/components/ui/ExperienceHeader.astro"
import { Paragraph, TextVariant } from "@/components/ui/text"
import ExperienceSeparator from "./Separator.astro"

interface Props {
  position: string
  description: string
  dateRange: string
}

const { position, description, dateRange } = Astro.props
---

<div class="w-full">
  <ExperienceHeader dateRange={dateRange}>
    <Dot /><h4 class="font-light">{position}</h4>
  </ExperienceHeader>
  <section class="flex flex-row gap-2">
    <ExperienceSeparator class="h-auto" />
    <span class="py-2">
      <Paragraph variant={TextVariant.Secondary}>{description}</Paragraph>
    </span>
  </section>
</div>
