---
import DotFilled from "@/components/icons/DotFilled.astro"
import { NotPrintable } from "@/components/print"
import ExperienceHeader from "@/components/ui/ExperienceHeader.astro"
import ExperienceSeparator from "./Separator.astro"

interface Props {
  company: string
  yearRange: string
}

const { company, yearRange } = Astro.props
---

<div>
  <ExperienceHeader dateRange={yearRange}>
    <NotPrintable><DotFilled /></NotPrintable>
    <h3 class="text-xl font-medium">
      {company}
    </h3>
  </ExperienceHeader>
  <section class="flex flex-col">
    <ExperienceSeparator class="h-2" />
    <slot />
  </section>
</div>
