---
import Text from "@/core/ui/text/Text.astro"
import type { ComponentProps } from "astro/types"

type Props = ComponentProps<typeof Text>

const { variant } = Astro.props
---

<p class="text-pretty"><Text variant={variant}><slot /></Text></p>
