---
import { TextVariant } from "@/core/ui/text"

interface Props {
  variant: TextVariant
}

const styles = {
  [TextVariant.Primary]: ["text-md"],
  [TextVariant.Secondary]: ["text-sm", "text-slate-500", "print:text-xs"],
}

const { variant } = Astro.props
---

<span class:list={styles[variant]}>
  <slot />
</span>
