---
import About from "@/components/About.astro"
import Experience from "@/components/Experience.astro"
import Hero from "@/components/Hero.astro"
import Skills from "@/components/Skills.astro"

import Layout from "@/layouts/Layout.astro"
---

<Layout title="Farias Lautaro" description="Yet another backend developer.">
  <main class="container mx-auto flex max-w-4xl flex-col gap-2 py-16">
    <Hero />
    <Experience />
    <Skills />
    <About />
  </main>
</Layout>
