---
import { PortfolioService } from "@/portfolio"
import { EducationSection } from "@/portfolio/education"
import { ExperienceSection } from "@/portfolio/experience"
import { ProfileAbout, ProfileHero } from "@/portfolio/profile"
import { SkillsSection } from "@/portfolio/skills"

import Layout from "./_layouts/Layout.astro"

import resume from "@resume"

const portfolioData = PortfolioService.getPortfolioData(resume)
---

<Layout title="Farias Lautaro" description="Yet another backend developer.">
  <main
    class="container mx-auto flex max-w-4xl flex-col gap-16 px-8 py-16 print:gap-3 print:p-4"
  >
    <ProfileHero {...portfolioData.profileHero} />
    <ProfileAbout {...portfolioData.profileAbout} />
    <ExperienceSection {...portfolioData.experience} />
    <EducationSection education={portfolioData.education.education} />
    <SkillsSection />
    <!-- <ProjectsSection projects={portfolioData.projects.projects} /> -->
  </main>
</Layout>
