<section class="text-sm text-slate-600">
  <p>
    Soy Lautaro! Y comencé en la programación por ERROR (Al principio iba a
    estudiar Informática, pero me confundí de aula) me termino gustando la
    carrera y decidí continuar hasta convertirme en Técnico en Programación,
    graduado en la E.E.S.T. N°7.
  </p>
  <p>
    Decidí especializarme en el desarrollo Backend porque el diseño no es lo
    mio. Disfruto tratando temas de modelado, rendimiento e integraciones y soy
    amante del Clean Code, aunque no siempre se pueda cumplir.
  </p>
  <p>
    Actualmente me desempeño como Líder Técnico, perfeccionando mi rol mientas
    trabajo para mejorar mis puntos débiles (entre ellos el Frontend).
  </p>
</section>
