---
import Section from "@/components/ui/Section.astro"
import { Paragraph, TextVariant } from "@/components/ui/text"
---

<Section title="Sobre mí">
  <Paragraph variant={TextVariant.Secondary}>
    ¡Hola!, soy Lautaro y comencé en la programación por ERROR (iba a estudiar
    Informática, pero me confundí de aula) me termino gustando la carrera y
    decidí continuar hasta graduarme como Técnico en Programación en la E.E.S.T.
    N.º 7.
  </Paragraph>
  <Paragraph variant={TextVariant.Secondary}>
    Decidí especializarme en el desarrollo Backend porque el diseño no es lo
    mío. Disfruto tratando temas de modelado, rendimiento e integraciones y soy
    amante del Clean Code, aunque no siempre se pueda cumplir.
  </Paragraph>
  <Paragraph variant={TextVariant.Secondary}>
    Actualmente, me desempeño como Líder Técnico, perfeccionando mi rol, mientas
    trabajo para mejorar mis puntos débiles (entre ellos el Frontend).
  </Paragraph>
</Section>
