---
import ExperienceHeader from "@/components/ui/ExperienceHeader.astro"
import Section from "@/components/ui/Section.astro"
import { Paragraph, TextVariant } from "@/components/ui/text"
---

<Section title="Educación">
  <ExperienceHeader dateRange="2013 - 2020">
    <h3>E.E.S.T N°7 José Hernández</h3>
  </ExperienceHeader>
  <section>
    <Paragraph variant={TextVariant.Secondary}>
      Tecnicatura secundaria con especialización en programación.
    </Paragraph>
  </section>
</Section>
