---
import Badge from "@/components/ui/Badge.astro"
import Button from "@/components/ui/Button.astro"

import GemIcon from "@/components/icons/Gem.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import GlobeIcon from "@/components/icons/Globe.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import ReaderIcon from "@/components/icons/Reader.astro"
---

<section class="flex w-full flex-row justify-around">
  <div class="flex w-fit flex-col justify-between">
    <div>
      <header>
        <h1 class="text-3xl font-medium">Farias Lautaro</h1>
        <h2 class="text-md">Backend Developer con +3 años de experiencia.</h2>
      </header>

      <section class="flex flex-row gap-2">
        <Badge><GlobeIcon />Buenos Aires, Argentina</Badge>
        <Badge><GemIcon />21 años</Badge>
      </section>
    </div>

    <section class="flex flex-row gap-2">
      <Button><GitHubIcon /></Button>
      <Button><LinkedInIcon /></Button>
      <Button><ReaderIcon /><span>Descargar CV</span></Button>
    </section>
  </div>

  <aside class="size-md flex">
    <img
      class="aspect-square w-full max-w-40"
      src="/src/images/Person.svg"
      alt="Farias Lautaro"
    />
  </aside>
</section>
