---
import Backpack from "@/components/icons/Backpack.astro"
import Home from "@/components/icons/Home.astro"
import Badge from "@/components/ui/Badge.astro"
import Section from "@/components/ui/Section.astro"
import ExperienceDescription from "./ui/ExperienceDescription.astro"

const KnowledgeIcon = Object.freeze({
  work: Backpack,
  selfTaught: Home,
})

const skills = [
  { name: "Python", icon: KnowledgeIcon.work },
  { name: "Django", icon: KnowledgeIcon.work },
  { name: "FastAPI", icon: KnowledgeIcon.work },
  { name: "JavaScript", icon: KnowledgeIcon.work },
  { name: "Vue 2", icon: KnowledgeIcon.work },
  { name: "React", icon: KnowledgeIcon.selfTaught },
  { name: "Astro", icon: KnowledgeIcon.selfTaught },
]
---

<Section title="Skills">
  <div class="flex flex-col gap-2">
    <div class="flex gap-6">
      <ExperienceDescription>
        <span class="flex gap-2">
          <KnowledgeIcon.work />Experiencia de trabajo
        </span>
      </ExperienceDescription>
      <ExperienceDescription>
        <span class="flex gap-2">
          <KnowledgeIcon.selfTaught />Experiencia Autodidacta
        </span>
      </ExperienceDescription>
    </div>
    <div class="flex gap-2">
      {
        skills.map((skill) => (
          <Badge>
            <skill.icon /> {skill.name}
          </Badge>
        ))
      }
    </div>
  </div>
</Section>
