---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: "Nunito";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url("/fonts/nunito-latin-400-normal.woff2");
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
