---
import { NotPrintable } from "@/core/print"
import Badge from "@/core/ui/Badge.astro"
import Section from "@/core/ui/Section.astro"

interface Skill {
  name: string
}

interface Props {
  skills: Skill[]
}

const { skills } = Astro.props as Props
---

<NotPrintable>
  <Section title="Skills" class="flex flex-col gap-2">
    <div class="flex flex-wrap gap-2">
      {skills.map((skill) => <Badge>{skill.name}</Badge>)}
    </div>
  </Section>
</NotPrintable>
